.github/
.nyc_output/
coverage/
lib/
node_modules/
test/

.editorconfig
.gitignore
.ncurc.js
.prettierrc.js
eslint.config.mjs
globalConfig.json
junit.xml
tsconfig.*
vitest.config.ts
vitest.global-setup.ts
vitest.setup.ts
yarn-error.log
yarn.lock
