.github/
.nyc_output/
coverage/
lib/
node_modules/
test/

.editorconfig
.eslintignore
.eslintrc.js
.gitignore
.ncurc.js
.prettierrc.js
globalConfig.json
junit.xml
tsconfig.*
vitest.config.ts
vitest.global-setup.ts
vitest.setup.ts
yarn-error.log
yarn.lock
